<!DOCTYPE html>
{% include "header.html" %}
<body>
{% include "navigation.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Paul's Blog</h1>
                    <span class="subheading">A silly collection of Paul's ideas</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for blog_post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{{ url_for('get_blog', num=blog_post['id']) }}">
                    <h2 class="post-title">{{ blog_post["title"] }}</h2>
                    <h3 class="post-subtitle">{{ blog_post["subtitle"] }}</h3>
                    <a href="{{ url_for('get_blog', num=blog_post['id']) }}">Read More</a>
                </a>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            {% endfor %}
            <!-- Pager-->
            {% if user_id == '1' %}
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                                            href="{{ url_for('new_post') }}">Create new post</a></div>
            {% endif %}
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
