<!DOCTYPE html>
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "navigation.html" %}
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/2882566/pexels-photo-2882566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    {{ wtf.quick_form(form, button_map={'Register': 'primary'}) }}
                </div>
            </div>
        </div>
    </div>
</header>
{% include "footer.html" %}
</body>
</html>